.container-show-artpiece {
  box-shadow: 12px 12px 20px 0.5px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: white;
  padding: 15px 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}


.artpiece-info h1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.artpiece-info p {
  margin-left: 10px;
}

.artpieces-infos-show {
  color: rgb(60, 60, 60);
}

.artpiece-banner {
  position: relative;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.artpiece-price {
  justify-content: right;
  align-items: right;
  color: rgb(60, 60, 60);
}

.artpiece-img {
  border-radius: 5px;
}

.subtitle {
  border-bottom: solid 2px rgb(121, 190, 183);
  font-weight: bolder;
}

.show-artpiece-availability {
  position: absolute;
  right: 20px;
  top: 20px;
  width: auto;
  background-color: rgb(240, 240, 240);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 14px;
}

.availability-on {
  color: rgb(30, 221, 100);
}

.availability-off {
  color: rgb(234, 58, 85);
}

.show-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

