.container-show-artpiece {
  box-shadow: 12px 12px 20px 0.5px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}


.artpiece-info h1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.artpiece-info p {
  margin-left: 10px;
}

// .title-show {
// color: white;
// margin-bottom: 5px;
// }

.btn-show-back-artpieces {

}

.artpiece-banner {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.artpiece-price-availability {
  justify-content: right;
  align-items: right;
}

.artpiece-img {
  border-radius: 5px;
}

.subtitle {

}
