<div class="dashboard text-align-center">
  <div class="container">
    <br>
    <h1>Welcome <%= current_user.first_name.capitalize %></h1>
    <h2>Your Bookings:</h2>
    <div class="card-product">
      <div class="card-product-infos">
        <% current_user.bookings.each do |booking| %>
          <li>
            You’ve booked: <strong><%= booking.artpiece[:title] %></strong> created by <strong><%= booking.artpiece[:artist] %></strong>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
