<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);">
  <div class="container">
    <h1>ArtLease <strong>gives you </strong> the opportunity<strong> to change your interior as often as you want</strong>!</h1>
    <p>Change your <strong>Art<strong> change your <strong>Life<strong></p>
    <%= link_to "Find your Art Piece", artpieces_path, class:"btn btn-gradient" %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 40 %>
    </div>
  </div>
</div>
