.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #d4f3ef;
  transition: background 0.3s ease;
  border: 1px solid #d4f3ef;
}

.btn-gradient:hover {
  background: #abf0e9;
  color: white;
}

