<div class="reviews mt-4">
  <h5>Add a review</h5>
  <%= simple_form_for [artpiece, review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit class: "btn"%>
  <% end %>
</div>
